@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

select {
    background: #FFFFFF;
    border: 1px solid #DDE3ED;
    box-sizing: border-box;
    border-radius: 4px;
}
option {
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #AFBACC;
}
select:focus  {
    background: #FFFFFF;
    border: 2px solid #1F61F7;
    box-sizing: border-box;
    border-radius: 4px;
}

option:focus {
font-family: Poppins;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #1F61F7;
}
